[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
unknown = {editable = true,path = "."}
umbral = "*"

[requires] 
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
start = "python main.py"
